<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTERED</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>
    <div class="container-fluid text-center">
    
    <div><h2>REGISTERED TRAINER! </h2></div>
<div>
    <table>
        <thead>
            <tr>
            <th>ID</th>
            <th>PhoneNumber</th>
            <th>FullName</th>
            <th>Email</th>
            <th>BusinessName</th>
            <th></th>
            </tr>
        </thead>
    </table>
</div>


    
</div>
</body>
</html>